<div id="top-page">
  <aside>
    <h1 id="logo"><%=link_to 'Yasunao Iwamoto', root_path %></h1>
    <nav id="main-menu" role="navigation">
      <ul>
        <li><%=link_to 'Home', root_path %></li>
        <li><%=link_to 'Blog', root_path %></li>
        <li><%=link_to 'Camera', root_path %></li>
        <li><%=link_to 'Programming', root_path %></li>
      </ul>
    </nav>
    <ul>
      <li><a href="https://github.com/naonao-program" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></li>
      <li><a href="https://www.instagram.com/miqo_ran/?hl=ja" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></li>
      <li><a href="https://www.youtube.com/channel/UCpIA_0WKJb89Snc-vZSwp0Q" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></li>
    </ul>
  </aside>
</div>