<div id="top-page">
  <aside>
    <h1 id="logo"><%=link_to 'Yasunao Iwamoto', root_path %></h1>
    <nav id="main-menu" role="navigation">
      <ul>
        <li><%=link_to 'Home', root_path %></li>
        <li><%=link_to 'Blog', root_path %></li>
        <li><%=link_to 'Camera', root_path %></li>
        <li><%=link_to 'Programming', root_path %></li>
      </ul>
    </nav>
    <ul>
      <li><a href="https://github.com/naonao-program"><i class="fab fa-github"></i></li>
  </aside>
</div>