<div class="mt-5">
  <div class="container my-5">
    <%= form_with(model: @cameras,  local: true) do |f| %>
      <%= f.file_field :image %>
      タイトル:<%= f.text_field :title %>
      insta_url:<%= f.text_field :insta_url %>
      youtube_url:<%= f.text_field :youtube_url %>
      <%= f.submit '投稿'%>
    <% end %>
  </div>
</div>